<ul *ngIf="pager" class="pagination">
        <li [class.disabled]="pager.currentpage == 1">
          <a (click)="setcurrentpage(1)">First</a>
        </li>
        <li [class.disabled]="pager.currentpage == 1">
          <a (click)="setcurrentpage(pager.currentpage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [class.active]="pager.currentpage == page">
            <a (click)="setcurrentpage(page)">{{page}}</a>
        </li>
        <li [class.disabled]="pager.currentpage == pager.totalpages">
          <a (click)="setcurrentpage(pager.currentpage + 1)">Next</a>
        </li>
        <li [class.disabled]="pager.currentpage == pager.totalpages">
          <a (click)="setcurrentpage(pager.totalpages)">Last</a>
        </li>
    </ul> 